.ui-widget-header {
background-color:#28A77B;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #3B97ED;
	background: #3B97ED;
	font-weight: normal;
	color: #ffffff;
}

.ui-slider-horizontal .ui-slider-handle {
 cursor: pointer;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #3B97ED;
	background-color: #ffffff;
}
